name: CI

on:
  push:
  workflow_dispatch:
  pull_request:
    types: [opened]

jobs:
  eval:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v26
      - uses: DeterminateSystems/magic-nix-cache-action@main

      # Quick eval
      - run: nix develop --command evalnix
      # Check formatting
      - run: nix develop --command fmt --check

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v26
      - uses: DeterminateSystems/magic-nix-cache-action@main

      # Execute /tests/*
      - run: nix develop --command check-derivation-outputs
      - run: nix develop --command check-channel-patching
      - run: nix develop --command check-overlays-flow
      - run: nix develop --command check-hosts-config

  build-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v26
      - uses: DeterminateSystems/magic-nix-cache-action@main

      # Build /examples/*
      - run: nix develop --command build-home-manager+nur+neovim-Rick
      - run: nix develop --command build-minimal-multichannel-Hostname1
      - run: nix develop --command build-minimal-multichannel-Hostname2
      - run: nix develop --command build-exporters-Morty
      - run: nix develop --command build-darwin

