name: CI
on:
  push:
  workflow_dispatch:
  pull_request:
    types: [opened]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v16
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.4pre20210604_8e6ee1b/install
          extra_nix_config: experimental-features = nix-command flakes

      # Quick eval
      - run: nix develop --command evalnix

      # Execute /tests/*
      - run: nix develop --command check-derivation-outputs
      - run: nix develop --command check-channel-patching
      - run: nix develop --command check-overlays-flow
      - run: nix develop --command check-hosts-config

      # Build /examples/*
      - run: nix develop --command build-home-manager+nur+neovim-Rick
      - run: nix develop --command build-minimal-multichannel-Hostname1
      - run: nix develop --command build-minimal-multichannel-Hostname2
      - run: nix develop --command build-exporters-Morty

      # Check formatting
      - run: nix develop --command fmt --check
